@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
$primaryFont: "Overpass", sans-serif;

$primaryryColor: hsl(0, 0%, 100%);
$secundaryColor: hsl(217, 12%, 63%);
$btnRate: hsl(213, 18%, 18%);
$panelColor: hsl(215, 22%, 16%);
$bgColor: hsl(216, 12%, 8%);
$orangeAccent: hsl(25, 97%, 53%);
