$veryDarkMagenta: hsl(300, 43%, 22%);
$softPink: hsl(333, 80%, 67%);
$darkGrayishMagenta: hsl(303, 10%, 53%);
$lightGrayishMagenta: hsl(300, 24%, 96%);

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
$font-primery: "League Spartan", sans-serif;
