html {
    font-size: 62.5%;
    font-family: var(--font-primary);
}

body {
    background-color: var(--color-background);
    min-width: 340px;
    max-width: 1440px;
    margin: auto;
    height: 100vh;
}

body,
main,
picture,
.title-box,
.text-box,
.advice-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    background-color: var(--color-element-background);
    margin: 4%;
    max-width: 550px;
    min-height: 332px;
    border-radius: 15px;
    position: relative;
    transform: translateY(-15px);
}

.title-box {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--color-accent);
    padding-top: 50px;
    justify-content: flex-end;
}

.title-box .advice-title {
    font-size: var(--font-size-base);
}

.text-box {
    text-align: center;
    font-size: var(--font-size-large);
    color: var(--color-primary);
    flex: 2;
    padding: 0 30px;
    margin: 0 20px;
}

picture {
    flex: 1;
    justify-content: flex-start;
}

picture img {
    width: 95%;
}

.advice-button {
    height: 70px;
    width: 70px;
    border-radius: 35px;
    background-color: var(--color-accent);
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: -33px;
}

.advice-button:hover {
    box-shadow: 0px 0px 25px var(--color-accent);
}