@media (max-width: 992px) {
    .menu-superior{
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .menu-superior
    .menu-principal{
        flex-direction: column;
        margin-top: 100px;
    }

    a,
    p{
        font-size: 40px;
    }

    .menu-sobre {
        height: 81px;
        width: 233px;
    }

    .menu-cadastro{
        height: 55px;
        width: 151px;
    }

    button{
        margin-top: 50px;
    }

    .botao{
        font-size: 18px;
    }

}