*{
    margin: 0;
    padding: 0;
}

h2,
h3{
    font-family: 'Public Sans', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
}

h3{
    font-weight: 300;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
}

.imagem{
    margin: 20px;
    display: flex;
    align-items: end;
}

.texto-imagem{
    margin: 43px 20px;
}

.box-1{
    width: 335px;
    height: 431px;
    background-image: url(./img/rome.png);
    background-size: cover;
}

.box-2{
    width: 335px;
    height: 431px;
    background-image: url(./img/boat.png);
    background-size: cover;
}

.box-3{
    width: 335px;
    height: 431px;
    background-image: url(./img/sand-and-sea.png);
    background-size: cover;
}

.box-4{
    width: 335px;
    height: 431px;
    background-image: url(./img/starry-night.png);
    background-size: cover;
}

/* RESPONSIVE */


@media (max-width: 1500px) {
    .container{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .container{
        flex-direction: column;
    }
    
    .imagem{
        margin: 1px;
    }
}


