.panel {
  max-width: 450px;
  width: 100%;
  border: 1px solid #eaecf0;
  border-radius: 16px;
  margin: 0 auto;
  padding: 32px;
  margin: 20px;
  max-height: 80%;
  height: 100%;

  p {
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.54);
    text-align: center;
    margin-bottom: 24px;
  }

  p:nth-of-type(2) {
    margin: 24px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 24px;

    li {
      height: 56px;
      display: flex;
      align-items: center;
      padding: 0 16px;
      border-radius: 8px;
      border: 1px dashed #d7dde9;
      transition: background 0.2s ease-in-out;

      label {
        flex: 1;
        font-size: 16px;
        padding: 0 16px;
      }

      &:hover {
        cursor: pointer;
        background: #f7f9fd;
        border: 1px solid #f7f9fd;
      }

      .trashButton {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: border-color 0.2s ease-in;

        svg {
          width: 24px;
          height: 24px;
          color: #b0bbd1;
          transition: color 0.2s ease-in;

          &:hover {
            color: red;
          }
        }
      }
    }
  }

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid #d7dde9;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    background-color: white;
    position: relative;
    cursor: pointer;
    outline: none;
  }

  input[type="checkbox"]:checked {
    background-color: #a0dcf6;
    border-color: #0796d3;
  }

  input[type="checkbox"]:focus {
    border-color: #0796d3;
  }

  input[type="checkbox"]:checked::before {
    content: "";
    display: block;
    width: 12px;
    height: 8px;
    border: solid #0796d3;
    border-width: 0 0px 2px 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%) rotate(-45deg);
  }

  ul.completed {
    label {
      text-decoration: line-through;
      color: rgba(0, 0, 0, 0.54);
    }
  }
}
